{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{%block title%}Title{%endblock%}</title>
</head>
<body>
  {% block nav %}
  <nav>
    <!--todo: divide the navigation bar to left and right -->
    {%block left_nav%}
    <a href="{%url 'core:home' %}">Home</a>
    {%endblock%}
    
    {%block right_nav%}
      {% if user.is_authenticated %}
        {% if user.profile_picture %}
          <img width=50 src="{{ user.profile_picture.url }}" alt="">
        {% else %}
          <a href="{% url 'users:logout_confirm' %}"> <img width=50 src="{% static 'profile_pics/default.svg'%}" alt=""></a>
        {% endif %}
        <!--<a href="{%url 'users:logout_confirm' %}">Log Out</a>-->
      {% else %}
        <a href="{%url 'users:login' %}">Log In or Sign Up</a>
      {% endif %}
    {%endblock%}
  </nav>
  {% endblock %}

  {% block content %}
  {% endblock %}
</body>
</html>